/* .container {
    width: 500px;
    height: 100px;
    background-color: lightcyan;
    text-align: center;
} */


.profile-card {
    max-width: 400px;
}


.profile-pic {
    max-width: 400px;
    border-radius: 30px;
}


.name {
    align-content: center;
    font-family: "Gill Sans", sans-serif;
}


.profile-info {
    font-family: "Gill Sans", sans-serif;
}

.bio {
    font-family: "Gill Sans", sans-serif;
}


.social-media:hover {
    color: blue;
}